* { 
    /* '*' artinya semua element Klo misal mo ganti font tinggal tambahin aja .ttf nya trus ganti src d bwh*/
    font-family: ubuntu;
    src: url(./Ubuntu-Regular.ttf);
    color: rgb(47, 63, 77);
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
}

.title {
    font-family: Yeseva One;
    src: url(./YesevaOne-Regular.ttf);
}

html, body{
    background-color: #d5cec1;
    height: 100%;
}

.landing-page{
    background-color: rgb(249, 249, 249) !important; 
    height: 100%;
    
}

.pos{
    position:absolute;
    top:50px;
    /* right:50%; */
    /* margin-right:200px; */
}

h3 {
    margin-bottom: 32px;
}

.content{
    border-radius: 20%;
    padding: 48px;
    margin: 32px;
    filter: drop-shadow(0px 0px 5px  gray);
}

.plot-list-content{
    background-color: #f2f1ef;
    border-radius: 25px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 6px;
    padding-bottom: 72px;
    margin: 32px;
    position: relative;
    display: flex;
    text-align: left;
}

.intro {
    padding: 32px;
    padding-left: 64px;
}

#plot-list{
    display: flex;
}

.plot-content{
    background-color: #f2f1ef;
    border-radius: 20px;
    padding-bottom: 34px;
    margin: 32px;
    filter: drop-shadow(0px 0px 5px  lightgray);
}

.plot-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    width: 99%;
}

.plot-check{
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 20px;
    border-color: gray;
}

.plus-button{
    background-color: #b64e43;
    border-radius: 35px;
    border: none;
    position: sticky;
    font-size: 30px;
    text-align: center;
    padding: 20px 26px;
    width: 70px; 
    height: 70px; 
}

.fa-arrow-right, .fa-plus{
    color: #f2f1ef;
}

.button {
    border: none;
    background-color: #f2f1ef;
}

.button:hover {
    background-color: rgb(220, 220, 220);
}

.start-button{
    background-color: rgb(243, 197, 143);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f2f1ef;
}

.credits{
    background-color: #b64e43;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits p{
    color: #f2f1ef;
    font-size: medium;
}

.tanaman-content{
    margin: 16px;
    background-color: #ece4d5;
    border-radius: 35px;
    padding: 8px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton{
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.image-landing{
    width: 99%;
}

.lander{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-items: center;
}

.halfCell{
    flex: 0.5;
}

@media only screen and (max-width: 530px){
    .lander{
        flex-direction: column;
    }

    .smartTitle{
        margin-top: 0px !important;
        font-size: xx-large !important;
    }

    .smaller{
        font-size: medium !important;
    }

    .start-button{
        margin-bottom: 24px;
    }

    .intro{
        font-size: large;
    }

    #plot-list{
        justify-content: center;
    }
}